{% extends "base.html" %}

{% block static_css %}
<style>
    @font-face {
        font-family: Roboto;
        src: url("{{STATIC_ROOT}}/fonts/Roboto-Regular.ttf");
    }

    * {
        font-family: Roboto;
    }
</style>
{% endblock %}

{% block page_title %}
Список покупок
{% endblock %}

{% block content %}
<div>
    <h1>Список покупок</h1>
</div>

<div>
    <ul>
        {% for ingredient in ingredient_list %}
        {% include 'includes/ingredient_item.html' with ingredient=ingredient %}
        {% endfor %}
    </ul>


</div>
{% endblock %}
